<div class="hbox hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  " data-ng-controller="ChampionshipNewController">
    <!-- main -->
    <div class="col ">
        <div class="vbox">
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" class="h-full"
                                       ng-controller="FormDemoCtrl" ng-init="$ionicSlideBoxDelegate.enableSlide(true);">
                            <ion-slide ng-init="$ionicSlideBoxDelegate.enableSlide(true);">
                                <div class="wrapper-md">
                                    <div class="row">
                                        <div class="col-sm-6">


                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="clearfix text-center">
                                                        <div class="h4  m-b-xs">{{newChampionship.name}}
                                                        </div>
                                                        <small class="text-muted m-b">
                                                            {{newChampionship.discipline.name}}
                                                        </small>
                                                        <div class="m-t-xs">
                                                            <div class="thumb-lg">
                                                                <img ng-src="{{getImageUrl()}}"
                                                                     class="img-circle">
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="fileUpload btn btn-primary">
                                                                <span translate="championship.new.image.UPLOAD"></span>
                                                                <input type="file" class="upload"
                                                                       nv-file-select=""
                                                                       uploader="uploader"/>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>

                                            <form role="form">


                                                <div class="form-group">
                                                    <label translate="championship.new.championship_name.LABEL"></label>
                                                    <input type="input" class="form-control"
                                                           ng-model="newChampionship.name"
                                                           placeholder="{{ 'championship.new.championship_name.PLACEHOLDER' | translate }}">
                                                </div>
                                                <div class="form-group">
                                                    <label translate="championship.new.discipline.LABEL"></label>
                                                    <select class="form-control"
                                                            ng-model="newChampionship.discipline"
                                                            ng-options="discipline.name for discipline in disciplines"></select>
                                                </div>
                                                <div class="clearfix text-center">

                                                    <button type="submit" class="btn btn-sm btn-primary"
                                                            translate="championship.new.next.LABEL"
                                                            data-ng-click="stepOneNext()">
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div>
                                    <a href class="block panel padder-v bg-primary item">
                                        <span class="text-white font-thin h1 block">930</span>
                                        <span class="text-muted text-xs">Uploads</span>
                <span class="bottom text-right w-full">
                  <i class="fa fa-cloud-upload text-muted m-r-sm"></i>
                </span>
                                    </a>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div>
                                    <a href class="block panel padder-v bg-info item">
                                        <span class="text-white font-thin h1 block">432</span>
                                        <span class="text-muted text-xs">Comments</span>
                <span class="top text-left">
                  <i class="fa fa-caret-up text-warning m-l-sm"></i>
                </span>
                                    </a>
                                </div>
                            </ion-slide>
                        </ion-slide-box>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>